:root {
    --box-border-radius: 10px;
    --border-color: 133, 141, 148;

    --main-background: 222, 235, 247;
    --highlight-color-dark: 68, 84, 106;
    --highlight-color-light: 88, 118, 255;

    --background-incoming-messages: 132, 151, 176;
    --background-outgoing-messages: 230, 230, 230;
    --input-background: 230, 230, 230;

    --drop-shadow: 0px 5px rgb(var(--border-color));

    height: 100%;
    background: rgb(var(--main-background));
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0px;
    background: rgb(var(--main-background)); /* repeated for fullscreen mode */
}

app-root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

app-header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

