:host {
    display: flex;
    align-items: center;
}

.input-container {
    flex-grow: 1;
    position: relative;
}

.recording-controls {
    flex-grow: 1;
}

.attachment-icon {
    position: absolute;
    left: 5px;
    top: 10px;
    width: 15px;
    height: 15px;
}

.text-input {
    border: none;
    border-radius: var(--box-border-radius);
    box-shadow: var(--drop-shadow);

    background: rgb(var(--input-background));

    min-height: 30px;
    padding-left: 25px;

    width: 100%;
}

.button {
    background: rgb(var(--highlight-color-light));
    border-radius: 50%;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;

    padding: 5px;
}

.button .icon {
    max-width: 70%;
}

.send-button,
.record-button {
    margin-left: 5px;
}

.send-icon {
    position: relative;
    left: 3px;
}

.recording-info {
    flex-grow: 1;
}