.message {
    padding: 24px 15px;
    margin: 20px;
    position: relative;

    display: inline-block;
    min-width: 20%;
    max-width: 60%;
    min-height: 40px;

    box-shadow: var(--drop-shadow);
    border-radius: var(--box-border-radius);

    word-break: break-all;
    
    clear: both;
}

.triangle {
    width: 20px;
    height: 40px;

    filter: drop-shadow(var(--drop-shadow));

    position: absolute;
    top: var(--box-border-radius);
}

/* Incoming messages */
.message.incoming {
    background: rgb(var(--background-incoming-messages));
    float: left;
}

.message.incoming svg.triangle {
    right: calc(100% - 1px);
    transform: scaleX(-1);
}

.message.incoming .triangle path {
    fill:rgb(var(--background-incoming-messages));
}

/* Outgoing messages */
.message.outgoing{
    background: rgb(var(--background-outgoing-messages));
    float: right;
}

.message.outgoing svg.triangle {
    left: calc(100% - 1px)
}

.message.outgoing .triangle path {
    fill:rgb(var(--background-outgoing-messages));
}