.message {
    padding: 15px;
    margin: 20px;
    position: relative;

    width: 300px;
    max-width: 80%;
    min-height: 40px;

    background: rgb(var(--background-incoming-messages));
    box-shadow: var(--drop-shadow);
    border-radius: var(--box-border-radius);

    word-break: break-all;
}

.triangle {
    width: 20px;
    height: 40px;

    filter: drop-shadow(var(--drop-shadow));

    position: absolute;
    left: 100%;
    top: var(--box-border-radius);
}

.triangle path {
    fill: rgb(var(--background-incoming-messages));
}