:host() {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.message {
    padding: 24px 15px;
    margin: 20px;
    position: relative;

    display: inline-block;
    min-width: 20%;
    max-width: 60%;
    min-height: 40px;

    box-shadow: var(--drop-shadow);
    border-radius: var(--box-border-radius);

    word-break: break-all;
    
    clear: both;
}

.triangle {
    width: 20px;
    height: 40px;

    filter: drop-shadow(var(--drop-shadow));

    position: absolute;
    top: var(--box-border-radius);
}

.message-container {
    display: flex;
    flex-direction: column;
}

.message[data-type="audio"] {
    width: 80%;
}

.send-time {
    padding: 0px 25px;
}

/* Incoming messages */
.incoming .message {
    background: rgb(var(--background-incoming-messages));
}

.incoming .message svg.triangle {
    right: calc(100% - 1px);
    transform: scaleX(-1);
}

.incoming .message .triangle path {
    fill:rgb(var(--background-incoming-messages));
}

/* Outgoing messages */
.outgoing {
    align-items: flex-end;
}
.outgoing .message {
    background: rgb(var(--background-outgoing-messages));
}

.outgoing .message svg.triangle {
    left: calc(100% - 1px)
}

.outgoing .message .triangle path {
    fill:rgb(var(--background-outgoing-messages));
}