.message {
    padding: 15px;
    margin: 20px;
    position: relative;

    width: 300px;
    max-width: 80%;
    min-height: 40px;

    box-shadow: var(--drop-shadow);
    border-radius: var(--box-border-radius);

    word-break: break-all;
}

.triangle {
    width: 20px;
    height: 40px;

    filter: drop-shadow(var(--drop-shadow));

    position: absolute;
    top: var(--box-border-radius);
}

/* Incoming messages */
.message.incoming {
    background: rgb(var(--background-incoming-messages));
}

.message.incoming svg.triangle {
    right: 100%;
    transform: scaleX(-1);
}

.message.incoming .triangle path {
    fill:rgb(var(--background-incoming-messages));
}

/* Outgoing messages */
.message.outgoing{
    background: rgb(var(--background-outgoing-messages));
}

.message.outgoing svg.triangle {
    left: 100%
}

.message.outgoing .triangle path {
    fill:rgb(var(--background-outgoing-messages));
}